* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {    
    text-align: center;
}

.container {
    margin: 30px auto;
    width: 60%;
}

ul {
    list-style: none;
    text-align: left;
    border: 1px solid black;
    padding: 20px 20px;
    line-height: 2;
}

h1 {
    margin-bottom: 20px;
}

.line-through {
    text-decoration: line-through;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

input {
    width: 80%;
    height: 30px;
    margin-right: 15px;
}

.add-new-task {
    display: flex;
    justify-content: flex-start;
}

#new-task-btn {
    padding: 5px 10px;
}